@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
  margin:0px;
  padding:0px;
}
header{
  display: flex;
  background-color:#000000;
  width:100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0px;
  z-index:1000;
  padding: 0 24px;
}
header>div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
}
ul{
  display: flex;
  align-items: center;
  list-style:none;
}
#left>ul>li{
  color:white;
  font-family:"Roboto Slab", serif;
  margin-right: 24px;
}
#right>ul{
  display: flex;
}
#right>ul>li{
  color:white;
  font-family:"Roboto Slab", serif;
  font-weight: 500;
  margin-left:20px;
}
button{
  margin-right:20px;
  font-family:"Roboto Slab", serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 60px;
}
nav>h1{
  font-size:2rem;
  margin-left:20px;
}
nav>h1:hover{
 background-color: #d1d1d1;
 border-radius: 50%;
 padding:8px 0px;
 transition: .3s ease;
}
nav>ul{
  display: flex;
  align-items:center;
  justify-content: end;
  margin-right: 20px;
  gap:20px;
}
nav>ul>li{
  list-style: none;
}
nav>ul>li>a{
  text-decoration: none;
  color: #6B6B6B;
}
#hero{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:80px;
  width: 100%;
  min-height:90vh;
}
#left_hero{
  display: flex;
  width:45vw;
  flex-direction: column;
  gap:25px;
}
#right_hero>img{
  width:480px;
  height:auto;
  border-radius:12px;
}
#b1{
  background-color: #000;
  color: white;
  border-radius:8px;
  width:100%;
  height:35px;
  border: none;
}
.i1{
  height:45px;
  padding:0 12px;
  background-color: #4b494926;
  font-size:16px;
  border-radius:8px;
  border: none;
  width:70%;
}
#b2{
  background-color:rgba(77, 75, 75, 0.101);
  color:#000;
  border-radius:25px;
  width:140px;
  height:40px;
  border: none;
}
#page3{
  width:90%;
  margin: auto;
  padding:40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px;
}
#page3>h1{
  color:rgb(0, 0, 0);
  font-family:"Roboto Slab", serif;
  font-weight:900;
  font-size:50px;
  margin-bottom:50px;
  grid-column:1/-1;
}
.eg0{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 20px;
}
.img{
  width:70px;
  height: auto;
}
.eg0 h5{
   font-size: 18px;
   font-weight:400;
   font-family:"Roboto Slab", serif;
}
.eg0 p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}
.eg0 button {
  border: none;
  color: #000;
  font-weight: 700;
  text-align: left;
}
#plan{
  font-family:"Roboto Slab", serif;
  font-weight: bolder;
  margin-left:210px;
}
#page4{
  display: flex;
  justify-content:center;
  align-items: center;

}
#left3{
  background-color:rgb(157, 205, 214);
  width:600px;
  height:400px;
  margin-left:20px;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:center;
  gap:20px;
  border-radius:10px;
}
#left3>h2{
  margin-left: 20px;
  font-family:"Roboto Slab", serif;
}
#left3>p{
  margin-left: 20px;
  font-family:"Roboto Slab", serif;
}
.button{
  border: none;
  border-radius:8px;
  color: #1c1c1c;
  font-weight: 700;
  text-align: left;
  width:150px;
  height:35px;
  margin-left:10px;
  text-align: center;
}
.eg1{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}
#right4{
  width:500px;
  height:300px;
  margin-left:40px;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:center;
  gap:25px;
  border-radius:10px;
  font-family:"Roboto Slab", serif;
}
#nav_bar>button{
  border: none;
  border-radius:8px;
  color: #e8e5e5;
  background-color: #000;
  font-weight: 900;
  font-size:18px;
  text-align: left;
  width:100%;
  height:50px;
  margin:10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
#head{
font-family:"Roboto Slab", serif;
margin:20px 158px;
font-weight:900;
}
#page5{
  margin-left:20px;
  display: flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
}
.image{
  display:flex;
  align-items:center;
  flex-direction:column;
  gap:30px;
  width:500px;
  height:auto;
  justify-content:space-evenly;
}
.img1{
  gap:25px;
  padding:15px;
}
.image img{
  width:400px;
  height: auto;
}
.text h3{
  font-family:"Roboto Slab", serif;
  margin-bottom:20px;
}
.text p{
  font-family:"Roboto Slab", serif;
  margin-bottom:20px;
}
.text button{
border:none;
background-color:#000000;
color: white;
border-radius:5px;
height:45px;
width:170px;
text-align: center;
font-family:"Roboto Slab", serif;
font-size:15px;
}
#page6{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #000000;
  margin-top: 50px;
  width: 100%;
  min-height: 800px;   
  padding: 40px;       
  box-sizing: border-box;
}
#img2>img{
   width: 100%;
  max-width: 600px;
  height: auto;
}
#page7 {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
#eg6 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.img-box img {
  width: 650px;
  height: auto;
}
.text-box {
  max-width: 500px;
}
.text-box h1 {
  font-size: 48px;
  margin: 0;
}
.text-box p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}
footer{
  background-color: #000;
  color: white;
  margin-top:50px;
}
#content{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  margin-left:75px;
  align-content: center;
  gap:50px;
}
#heading{
  display: flex;
  justify-content: center;
  gap:30px;
  flex-direction: column;
  align-content: center;
  margin-top:40px;
  margin-left:200px;
}
#heading>h2{
   font-family:"Roboto Slab", serif;
   font-weight: bolder;
}
#heading>p{
   font-family:"Roboto Slab", serif;
   font-weight: bolder;
}
#middle{
  display:flex;
  justify-content:space-evenly;
  align-items:start;
  gap:50px;
}
.main1 ul{
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  justify-content:start;
  flex-direction:column;
  gap:12px;
  align-items: start;
}
.company{
  font-weight:bolder;
  margin-bottom:10px;
   font-family:"Roboto Slab", serif;
}
.main1 a{
  text-decoration:none;
  color:white;
   font-family:"Roboto Slab", serif;
}
#footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:40px;
}
.link{
  list-style:none;
  display:flex;
  gap:20px;
  padding:0;
  margin:0;
}
.link1{
  list-style:none;
  display:flex;
  gap:20px;
  padding:0;
  margin:0;
}
.link a{
  color:white;
  text-decoration:none;
}
.link1 a{
   color:white;
   text-decoration:none;
}
#foot{
  display:flex;
  gap:1000px;
  margin-left:200px;
}
.link2{
  display: flex;
  gap:20px;
}
 .link2 li{
  list-style:none;
  list-style:none;
 }
.link2 li a{
  color:white;
  font-family:"Roboto Slab", serif;
}
#lastimg{
  display: flex;
  justify-content: start;
  margin-left:200px;
  gap:20px;
}
.img7{
width:150px;
height: auto;
}
#last{
  margin-left:200px;
  display: flex;
  gap:900px;

}
#eg5{
  display: flex;
  gap:20px;
}
@media screen and (max-width:1000px){

  #hero{
    flex-direction: column;
    padding:40px 20px;
  }

  #left_hero{
    width:100%;
    text-align:center;
  }

  #right_hero img{
    width:350px;
  }

  #page3{
    grid-template-columns:1fr 1fr;
  }

  #page4{
    flex-direction:column;
  }

  #left3,#right4{
    width:90%;
    margin:auto;
  }

  #eg6{
    flex-direction:column;
    text-align:center;
  }

  .img-box img{
    width:450px;
  }

  #foot,#last{
    gap:200px;
  }
}

@media (max-width:768px){
  header{
    padding:0 10px;
  }

  nav ul{
    display:none;
  }

  #hero{
    gap:40px;
  }

  #right_hero img{
    width:280px;
  }

  #page3{
    grid-template-columns:1fr;
  }

  #page5{
    flex-direction:column;
  }

  .image img{
    width:280px;
  }

  #page6{
    flex-direction:column;
  }

  #img2 img{
    max-width:300px;
  }

  .img-box img{
    width:300px;
  }

  #middle{
    flex-direction:column;
    align-items:center;
  }

  #heading,#lastimg,#last,#foot{
    margin-left:20px;
  }

  #foot,#last{
    gap:100px;
  }
}